<ion-header>
  <ion-toolbar>
    <ion-title>Join the Program</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Email Address</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="handleRegister()" class="ion-margin-top">
    Register
  </ion-button>
  
  <ion-button fill="clear" expand="block" routerLink="/login">
    Already have an account? Login
  </ion-button>
</ion-content>